* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;

    /*DEFINE VARIABLES FOR LENGTH*/
    --form-length: 65vw;
    --photo-length: calc(100vw - var(--form-length));
    --grey: #F9FAFB;
    --white: #FFFFFF;
    --green: #596D48;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

main {
    display: flex;
    background-color: var(--grey);
}

/*LEFT SIDE OF PAGE*/
.page-left {
    background-image: url("./images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: var(--photo-length);
    height: 100vh;
}

/*NEED TO LAYER ODIN LOGO/IMAGE SIDEBAR ONTO PHOTO*/

#credits {
    color: white;
    display: flex;
    justify-content: center;
}

#credits a {
    text-decoration: underline;
}

/*RIGHT SIDE OF PAGE*/



.page-right {
    display: flex;
    flex-direction: column;
    width: var(--form-length);
}


/*GREY NEEDS TO FADE INTO FORM SLIGHTLY*/
.form {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
}

form {
    display: flex;
}

/*NEED BOXSHADOW AT BOTTOM OF FORM*/

.confirmation {
    display: flex;
    flex-direction: column;
}

.confirmation a {
    color: var(--green);
}

.confirmation button {
    background-color: var(--green);
    color: white;
    max-width: 200px;
    min-width: 40px;
    /*NEED TO CHANGE RELATIVE TO VW AND VH*/
    border-radius: 6px;
    padding: 10px 20px;
}