* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

main {
    display: flex;
}

/*LEFT SIDE OF PAGE*/
.page-left {
    background-image: url("./images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40vw;
    height: 100vh;
}

#credits {
    color: white;
    display: flex;
    justify-content: center;
}

#credits a {
    text-decoration: underline;
}

/*RIGHT SIDE OF PAGE*/

.page-right {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
}

.confirmation {
    display: flex;
    flex-direction: column;
}