* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-size: 20px;

    /*DEFINE VARIABLES FOR LENGTH*/
    --form-length: 65vw;
    --photo-length: calc(100vw - var(--form-length));
    --grey: #F9FAFB;
    --white: #FFFFFF;
    --green: #596D48;
    --red: rgb(144, 0, 0);
    font-family: arial;

}

@font-face {
    font-family: odin-font;
    src: url(./Norse-Bold.otf);
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

main {
    display: flex;
    background-color: var(--grey);
}

/*LEFT SIDE OF PAGE*/
.page-left {
    background-image: url("./images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: var(--photo-length);
    height: 100vh;
    position: relative;
}

#odin {
    /*DIFFERENT FONT FOR ODIN LOGO*/
    font-family: odin-font;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 8vh;
    position: absolute;
    width: var(--photo-length);
    top: 30vh;
    padding: 2vh 0vw;

}

#odin img {
    width: 10vh;
    height: 10vh;
}

#credits {
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 1vh;
}

#credits a {
    text-decoration: underline;
}

/*RIGHT SIDE OF PAGE*/



.page-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: var(--form-length);
    gap: 2vh;
}

.intro {
    padding-left: 6vw;
}

.intro p,
.intro em {
    font-size: 24px;
}

#statement {
    padding: 2vh 0vw 2vh 0vw;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    background-color: var(--white);
    padding: 2vh 0vw 4vh 6vw;
    box-shadow: 0.4rem 0.2rem 0.4rem rgb(215, 215, 215);
}

form {
    display: flex;
    gap: 4vw;
}

.form label {
    text-transform: uppercase;
    font-size: 16px
}

.form input {
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    width: 20vw;
    height: 2.4vh;
    padding: 4px 8px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 0.2vh;
}

.form input:focus {
    box-shadow: 0.2rem 0.2rem 0.2rem rgb(215, 215, 215);
}


.form-left-side,
.form-right-side {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.form strong {
    font-weight: 500;
    font-size: 24px;
}


.confirmation {
    display: flex;
    flex-direction: column;
    padding-left: 6vw;
    gap: 3vh;
    font-size: 20px;
}

.confirmation a {
    color: var(--green);

}

.confirmation button {
    background-color: var(--green);
    color: white;
    max-width: 30vh;
    min-width: 40px;
    /*NEED TO CHANGE RELATIVE TO VW AND VH*/
    border-radius: 6px;
    padding: 10px 20px;
    box-shadow: 0.2rem 0.2rem 0.4rem rgb(215, 215, 215);
}

#login,
#login a {
    font-size: 24px;
}